In [1]:
print("Hello world")

Hello world

# Typy danych

## Stringi

In [2]:
imie = "Jan"
print(imie)

Jan

In [3]:
type(imie)

str

## Int

In [4]:
wiek = 34
print(wiek)

34

In [5]:
type(wiek)

int

## Float

In [6]:
wzrost = 180.5
print(wzrost)

180.5

In [7]:
type(wzrost)

float

In [8]:
wynagrodzenie = 7000.00
type(wynagrodzenie)

float

## Boolean

In [9]:
jan_jest_pelnoletni = True
print(jan_jest_pelnoletni)
print(type(jan_jest_pelnoletni))

True
<class 'bool'>

# f-Stringi

In [10]:
imie_nazwisko = "Jan Kowalski"
print(f"{imie_nazwisko} ma {wiek} lata.")

Jan Kowalski ma 34 lata.

# Działania arytmetyczne

In [11]:
2+3

5

In [12]:
2-3

-1

In [13]:
2*3

6

In [14]:
2/3

0.6666666666666666

In [15]:
2**3

8

In [16]:
8 % 6

2

In [17]:
3 * "Sto lat! "

'Sto lat! Sto lat! Sto lat! '

# Operatory logiczne

In [18]:
3==4

False

In [19]:
3!=4

True

In [20]:
3<=4

True

# Struktury danych

## Listy

In [21]:
pusta_lista = []
pusta_lista

[]

In [22]:
type(pusta_lista)

list

In [23]:
imiona_prac_ls = ["Jan", "Ania", "Wojciech", "Andrzej"]
imiona_prac_ls

['Jan', 'Ania', 'Wojciech', 'Andrzej']

### Sprawdzanie długości listy

In [24]:
len(imiona_prac_ls)

4

### Wyświetl pierwszego pracownika z listy

In [25]:
imiona_prac_ls[0]

'Jan'

### Wyświetl dwóch pierwszych pracowników z listy

In [26]:
imiona_prac_ls[0:2]

['Jan', 'Ania']

In [27]:
imiona_prac_ls[:2]

['Jan', 'Ania']

### Wyświetl dwóch ostatnich pracowników z listy

In [28]:
imiona_prac_ls[2:4]

['Wojciech', 'Andrzej']

In [29]:
imiona_prac_ls[2:]

['Wojciech', 'Andrzej']

In [30]:
imiona_prac_ls[-2:]

['Wojciech', 'Andrzej']

### Wyświetl ostatniego pracownika z listy

In [31]:
imiona_prac_ls[3]

'Andrzej'

In [32]:
imiona_prac_ls[-1]

'Andrzej'

### Dodawanie elementu do listy

#### Na końcu

In [33]:
imiona_prac_ls.append("Jan")

In [34]:
imiona_prac_ls

['Jan', 'Ania', 'Wojciech', 'Andrzej', 'Jan']

#### Na konkretnej pozycji

In [35]:
imiona_prac_ls.insert(1, "Kinga")

In [36]:
imiona_prac_ls

['Jan', 'Kinga', 'Ania', 'Wojciech', 'Andrzej', 'Jan']

### Łączenie list

In [37]:
nowe_imiona_prac_ls = ["Patrycja", "Krzysztof"]
nowe_imiona_prac_ls

['Patrycja', 'Krzysztof']

In [38]:
imiona_prac_po_zm_ls =imiona_prac_ls + nowe_imiona_prac_ls

In [39]:
imiona_prac_po_zm_ls

['Jan', 'Kinga', 'Ania', 'Wojciech', 'Andrzej', 'Jan', 'Patrycja', 'Krzysztof']

### Usuwanie elementu z listy

#### I opcja - metoda *remove*

In [40]:
imiona_prac_po_zm_ls.remove('Andrzej')

In [41]:
imiona_prac_po_zm_ls

['Jan', 'Kinga', 'Ania', 'Wojciech', 'Jan', 'Patrycja', 'Krzysztof']

In [42]:
imiona_prac_po_zm_ls.remove("Jan")
imiona_prac_po_zm_ls

['Kinga', 'Ania', 'Wojciech', 'Jan', 'Patrycja', 'Krzysztof']

#### II opcja - polecenie *del*

In [43]:
del imiona_prac_po_zm_ls[2]
imiona_prac_po_zm_ls

['Kinga', 'Ania', 'Jan', 'Patrycja', 'Krzysztof']

#### III opcja - metoda *pop*

In [44]:
kierownik = imiona_prac_po_zm_ls.pop()
print(f"Kierownik: {kierownik}")
print(f"Pracownicy: {imiona_prac_po_zm_ls}")

Kierownik: Krzysztof
Pracownicy: ['Kinga', 'Ania', 'Jan', 'Patrycja']

In [45]:
zastepca_kierownika = imiona_prac_po_zm_ls.pop(1)
print(f"Zastępca kierownika: {zastepca_kierownika}")
print(f"Pracownicy: {imiona_prac_po_zm_ls}")

Zastępca kierownika: Ania
Pracownicy: ['Kinga', 'Jan', 'Patrycja']

In [46]:
imiona_prac_po_zm_ls

['Kinga', 'Jan', 'Patrycja']

### Zmiana elementów listy

In [47]:
imiona_prac_po_zm_ls[1] = "Alicja"
imiona_prac_po_zm_ls

['Kinga', 'Alicja', 'Patrycja']

### Sortowanie listy

In [48]:
imiona_prac_po_zm_ls.sort()
imiona_prac_po_zm_ls

['Alicja', 'Kinga', 'Patrycja']

### Sprawdzanie czy element jest w liście

In [49]:
"Laura" in imiona_prac_po_zm_ls

False

In [50]:
"Laura" not in imiona_prac_po_zm_ls

True

### Pętle po listach

In [51]:
for imie in imiona_prac_po_zm_ls:
    print(imie)

Alicja
Kinga
Patrycja

### List comprehensions

In [52]:
imiona_prac_duzymi_ls = [imie.upper() for imie in imiona_prac_po_zm_ls]
imiona_prac_duzymi_ls

['ALICJA', 'KINGA', 'PATRYCJA']

In [53]:
imiona_prac_k_duzymi_ls = [imie.upper() for imie in imiona_prac_po_zm_ls if imie != "Jan"]
imiona_prac_k_duzymi_ls

['ALICJA', 'KINGA', 'PATRYCJA']

In [54]:
imiona_prac_m_duzymi_ls = [imie.upper() for imie in imiona_prac_po_zm_ls if not imie.endswith("a")]
imiona_prac_m_duzymi_ls

[]

In [55]:
imiona_z_t_z_duzej_ls = [imie.upper() for imie in imiona_prac_po_zm_ls if "t" in imie]
imiona_z_t_z_duzej_ls

['PATRYCJA']

## Krotki (Tuples)

### Definiowanie krotki

In [56]:
prac_kr = ("Jan", "Alicja", "Patrycja")
prac_kr

('Jan', 'Alicja', 'Patrycja')

In [57]:
prac_kr = "Jan", "Alicja", "Patrycja"
prac_kr

('Jan', 'Alicja', 'Patrycja')

In [58]:
type(prac_kr)

tuple

### Odwoływanie do elementów krotki

In [59]:
prac_kr[1]

'Alicja'

### Zmiana elementów krotki

In [61]:
# Nie można zmieniać wartości elementów krotki
prac_kr[1] = "Kinga"

TypeError: 'tuple' object does not support item assignment

In [60]:
# Nie można zmieniać wartości elementów krotki
try:
    prac_kr[1] = "Kinga"
except:
    print("Powinieneś wiedzieć, że nie można zmieniać wartości elementów w krotce!")

Powinieneś wiedzieć, że nie można zmieniać wartości elementów w krotce!

### Wykorzystanie krotki do zdefiniowania wielu zmiennych

In [62]:
prac1, prac2, prac3 = prac_kr
prac1

'Jan'

### Łączenie krotek

In [63]:
prac_kr = prac_kr + ("Jakub",)
prac_kr

('Jan', 'Alicja', 'Patrycja', 'Jakub')

### Usuwanie elementu z krotki

In [65]:
del prac_kr[3]
prac_kr

TypeError: 'tuple' object doesn't support item deletion

### Metody dla krotek

In [64]:
# Metoda zwracająca ilość wystąpień
prac_kr.count('Alicja')

1

In [66]:
# Metoda zwracająca pierwszą pozycję danego elementu
prac_kr.index('Patrycja')

2

### Zwracanie długości krotki

In [67]:
len(prac_kr)

4

## Słowniki

### Definiowanie słownika

In [281]:
# Pusty słownik
jan_dict = {}
type(jan_dict)

dict

In [282]:
jan_dict = {
    "imię": "Jan", 
    "nazwisko": "Kowalski", 
    "płeć": "Meżczyzna", 
    "stanowisko": "asystent", 
    "wynagrodzenie": 7000
}

In [283]:
jan_dict

{'imię': 'Jan',
 'nazwisko': 'Kowalski',
 'płeć': 'Meżczyzna',
 'stanowisko': 'asystent',
 'wynagrodzenie': 7000}

### Odwoływanie się do elementów słownika

In [284]:
jan_dict["płeć"]

'Meżczyzna'

In [285]:
# Brak klucza w słowniku w momencie zapytania o element wywołuje błąd
jan_dict["wzrost"]

KeyError: 'wzrost'

In [286]:
jan_dict.get("wzrost", "nie ma tego klucza w słowniku")

'nie ma tego klucza w słowniku'

### Zmienianie wartości w słowniku

In [287]:
jan_dict["wynagrodzenie"] = 7500
jan_dict

{'imię': 'Jan',
 'nazwisko': 'Kowalski',
 'płeć': 'Meżczyzna',
 'stanowisko': 'asystent',
 'wynagrodzenie': 7500}

### Usuwanie elementów ze słownika

In [288]:
del jan_dict["płeć"]
jan_dict

{'imię': 'Jan',
 'nazwisko': 'Kowalski',
 'stanowisko': 'asystent',
 'wynagrodzenie': 7500}

### Dodawanie elementu do słownika

In [289]:
jan_dict["korpo numer"] = "e215342"

In [290]:
jan_dict

{'imię': 'Jan',
 'nazwisko': 'Kowalski',
 'stanowisko': 'asystent',
 'wynagrodzenie': 7500,
 'korpo numer': 'e215342'}

In [291]:
jan_dict["wyyynagrodzenie"] = 3000
jan_dict

{'imię': 'Jan',
 'nazwisko': 'Kowalski',
 'stanowisko': 'asystent',
 'wynagrodzenie': 7500,
 'korpo numer': 'e215342',
 'wyyynagrodzenie': 3000}

In [292]:
del jan_dict["wyyynagrodzenie"]
jan_dict

{'imię': 'Jan',
 'nazwisko': 'Kowalski',
 'stanowisko': 'asystent',
 'wynagrodzenie': 7500,
 'korpo numer': 'e215342'}

### Łączenie słowników

In [293]:
{**jan_dict, **{"wiek": 47, "staż": 30}}

{'imię': 'Jan',
 'nazwisko': 'Kowalski',
 'stanowisko': 'asystent',
 'wynagrodzenie': 7500,
 'korpo numer': 'e215342',
 'wiek': 47,
 'staż': 30}

In [294]:
# Od Pythona 3.9
jan_dict | {"wiek": 47, "staż": 30}

{'imię': 'Jan',
 'nazwisko': 'Kowalski',
 'stanowisko': 'asystent',
 'wynagrodzenie': 7500,
 'korpo numer': 'e215342',
 'wiek': 47,
 'staż': 30}

### Pętle po słownikach

In [295]:
for element in jan_dict:
    print(element)

imię
nazwisko
stanowisko
wynagrodzenie
korpo numer

In [296]:
for key in jan_dict.keys():
    print(key)

imię
nazwisko
stanowisko
wynagrodzenie
korpo numer

In [297]:
jan_dict.keys()

dict_keys(['imię', 'nazwisko', 'stanowisko', 'wynagrodzenie', 'korpo numer'])

In [298]:
type(jan_dict.keys())

dict_keys

In [299]:
# Tworzenie listy z kluczy słownika
list(jan_dict.keys())

['imię', 'nazwisko', 'stanowisko', 'wynagrodzenie', 'korpo numer']

In [300]:
jan_dict.values()

dict_values(['Jan', 'Kowalski', 'asystent', 7500, 'e215342'])

In [301]:
for value in jan_dict.values():
    print(value)

Jan
Kowalski
asystent
7500
e215342

In [302]:
jan_dict

{'imię': 'Jan',
 'nazwisko': 'Kowalski',
 'stanowisko': 'asystent',
 'wynagrodzenie': 7500,
 'korpo numer': 'e215342'}

In [303]:
jan_dict.items()

dict_items([('imię', 'Jan'), ('nazwisko', 'Kowalski'), ('stanowisko', 'asystent'), ('wynagrodzenie', 7500), ('korpo numer', 'e215342')])

In [304]:
for k, v in jan_dict.items():
    print(f"{k.upper()}: {v},")

IMIĘ: Jan,
NAZWISKO: Kowalski,
STANOWISKO: asystent,
WYNAGRODZENIE: 7500,
KORPO NUMER: e215342,

### Dict comprehensions

In [305]:
{k.upper():v for k, v in jan_dict.items()}

{'IMIĘ': 'Jan',
 'NAZWISKO': 'Kowalski',
 'STANOWISKO': 'asystent',
 'WYNAGRODZENIE': 7500,
 'KORPO NUMER': 'e215342'}

In [306]:
{k.upper():v for k, v in jan_dict.items() if k!= "wynagrodzenie" and not v.endswith("i")}

{'IMIĘ': 'Jan', 'STANOWISKO': 'asystent', 'KORPO NUMER': 'e215342'}

## Zbiory

### Uzyskiwanie unikalnych wartości z listy lub krotki

In [68]:
nonunique_ls = ["Adam", "Ewa", "Piotr", "Ewa"]
nonunique_ls

['Adam', 'Ewa', 'Piotr', 'Ewa']

In [69]:
set(nonunique_ls)

{'Adam', 'Ewa', 'Piotr'}

In [70]:
unique_ls = list(set(nonunique_ls))
unique_ls

['Adam', 'Piotr', 'Ewa']

### Działania na zbiorach

In [71]:
starzy_pracownicy = set(nonunique_ls)
starzy_pracownicy

{'Adam', 'Ewa', 'Piotr'}

In [72]:
# Bezpośrednie definiowanie nowego zbioru
nowi_pracownicy = {"Adam", "Patrycja"}
nowi_pracownicy

{'Adam', 'Patrycja'}

#### Suma zbiorów

In [73]:
starzy_pracownicy.union(nowi_pracownicy)

{'Adam', 'Ewa', 'Patrycja', 'Piotr'}

In [74]:
nowi_pracownicy | starzy_pracownicy

{'Adam', 'Ewa', 'Patrycja', 'Piotr'}

#### Iloczyn zbiorów

In [75]:
starzy_pracownicy.intersection(nowi_pracownicy)

{'Adam'}

In [76]:
starzy_pracownicy & nowi_pracownicy

{'Adam'}

#### Różnica zbiorów

In [77]:
starzy_pracownicy.difference(nowi_pracownicy)

{'Ewa', 'Piotr'}

In [78]:
starzy_pracownicy - nowi_pracownicy

{'Ewa', 'Piotr'}

#### Przykład zastosowania działań na zbiorach z listami i porównanie z list comprehensions

In [79]:
wszyscy_prac_ls = list(starzy_pracownicy | nowi_pracownicy)
wszyscy_prac_ls

['Adam', 'Patrycja', 'Piotr', 'Ewa']

In [80]:
prac_z_wypl_pensja_ls = ["Ewa", "Piotr"]
prac_z_wypl_pensja_ls

['Ewa', 'Piotr']

In [81]:
# Sposób I: działania na zbiorach i konwersja na listę
prac_do_wyplaty_ls = list(set(wszyscy_prac_ls) - set(prac_z_wypl_pensja_ls))
prac_do_wyplaty_ls

['Patrycja', 'Adam']

In [82]:
# Sposób II: list comprehensions
prac_do_wyplaty_ls_2 = [prac for prac in wszyscy_prac_ls if not prac in prac_z_wypl_pensja_ls]
prac_do_wyplaty_ls_2

['Adam', 'Patrycja']

# Przepływ sterowania

## Instrukcja if

In [83]:
i = 20
if i > 5:
    print("i jest większe od 5")

i jest większe od 5

In [84]:
i=4
if i > 5:
    print("i jest większe od 5")
else:
    print("i jest mniejsze bądź równe 5")

i jest mniejsze bądź równe 5

In [85]:
i=5
if i > 5:
    print("i jest większe od 5")
elif i==5:
    print("i jest równe 5")
else:
    print("i jest mniejsze od 5")

i jest równe 5

### Operator trójargumentowy

In [86]:
i = 4
print("i jest większe od 5") if i > 5 else print("i jest mniejsze bądź równe 5")

i jest mniejsze bądź równe 5

In [87]:
nb_products = 5

In [88]:
bulk_order = True if nb_products > 1 else False

In [89]:
bulk_order

True

### Instrukcja if dla zmiennych logicznych (dla list i słowników pustych również)

In [90]:
is_important = True

In [91]:
if is_important:
    print("To jest ważne")
else:
    print("Olej!")

To jest ważne

In [92]:
values = []
if values:
    print(f"Podano następujące wartości: {values}.")
else:
    print("Nie podano żadnych wartości")

Nie podano żadnych wartości

In [93]:
values = [3.14, 2, 3]
if values:
    print(f"Podano następujące wartości: {values}.")
else:
    print("Nie podano żadnych wartości")

Podano następujące wartości: [3.14, 2, 3].

In [94]:
values = [3.14, 2, 3]
if not values:
    print("Nie podano żadnych wartości")
else:
    print(f"Podano następujące wartości: {values}.")

Podano następujące wartości: [3.14, 2, 3].

In [95]:
zmienna = None

In [96]:
type(zmienna)

NoneType

In [97]:
if zmienna:
    print("Hi")

In [98]:
if not zmienna:
    print("Hi")

Hi

In [99]:
if zmienna is not None:
    print("Hi")

## Pętla for

### Pętla for po liście

In [100]:
# Przykładowa pętla po liście
for pracownik in prac_do_wyplaty_ls:
    print(pracownik)

Patrycja
Adam

### Funkcja enumerate

In [102]:
for i, pracownik in enumerate(prac_do_wyplaty_ls):
    print(i, pracownik)

0 Patrycja
1 Adam

### Pętla z użyciem funkcji range

In [324]:
range(1,5)

range(1, 5)

In [325]:
list(range(1,5))

[1, 2, 3, 4]

In [326]:
list(range(5))

[0, 1, 2, 3, 4]

In [327]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [328]:
list(range(0,5,2))

[0, 2, 4]

In [329]:
list(range(0,6,2))

[0, 2, 4]

In [331]:
# Step (krok) w funkcji range musi być liczbą całkowitą
range(0,5,0.5)

TypeError: 'float' object cannot be interpreted as an integer

In [332]:
import numpy as np
np.arange(0,5,0.5)

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

In [333]:
list(np.arange(0,5,0.5))

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [334]:
list(np.arange(1,2,0.1))

[1.0,
 1.1,
 1.2000000000000002,
 1.3000000000000003,
 1.4000000000000004,
 1.5000000000000004,
 1.6000000000000005,
 1.7000000000000006,
 1.8000000000000007,
 1.9000000000000008]

In [337]:
[c/10 for c in range(10,20)]

[1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9]

In [338]:
for i in range(1,6,2):
    print(i)

1
3
5

## Zmiany w przepływie pętli

In [103]:
# Przerywanie pętli
for i in range(15):
    if i==3:
        break
    else:
        print(i)

0
1
2

In [104]:
# Kontynuacja pętli
for i in range(7):
    if i==3:
        continue
    else:
        print(i)

0
1
2
4
5
6

## Pętla while

In [105]:
n = 0

In [106]:
while n <= 2:
    print(n)
    n += 1 #n=n+1

0
1
2

## Funkcje

In [107]:
def witaj_swiecie():
    print("Hello world")

In [108]:
witaj_swiecie()

Hello world

In [109]:
def convert_to_celsius(degrees, source = "fahrenheit"):
    if source.lower() == "fahrenheit":
        return (degrees - 32) * (5/9)
    elif source.lower() == "kelvin":
        return degrees - 273.15
    else:
        return f"Nie potrafię przekonwertować z {source}"

In [110]:
convert_to_celsius(degrees = 100, source ="fahrenheit")

37.77777777777778

In [111]:
convert_to_celsius(source ="fahrenheit", degrees = 100)

37.77777777777778

In [112]:
convert_to_celsius(100, "fahrenheit")

37.77777777777778

In [113]:
convert_to_celsius("fahrenheit", 100)

AttributeError: 'int' object has no attribute 'lower'

In [114]:
convert_to_celsius(100)

37.77777777777778

In [115]:
convert_to_celsius(100, "kelvin")

-173.14999999999998

In [116]:
convert_to_celsius(100, "klingonska_skala")

'Nie potrafię przekonwertować z klingonska_skala'

In [117]:
def convert_to_celsius(degrees, source = "fahrenheit"):
    if source.lower() == "fahrenheit":
        return (degrees - 32) * (5/9), "Udało się!"
    elif source.lower() == "kelvin":
        return degrees - 273.15, "Udało się!"
    else:
        return f"Nie potrafię przekonwertować z {source}", "Lipa!"

In [118]:
wynik, sukces = convert_to_celsius(100)
print(wynik, sukces)

37.77777777777778 Udało się!

In [119]:
print(wynik)

37.77777777777778