In [65]:
import numpy as np

In [66]:
print("Hello world")

Hello world

# Typy danych

## Stringi

In [67]:
imie = "Jan"
print(imie)

Jan

In [68]:
imie_nazwisko = "Jan Kowalski"

In [69]:
type(imie_nazwisko)

str

## Inty

In [70]:
wiek = 34
type(wiek)

int

## Float

In [71]:
wiek = 34.0
type(wiek)

float

# Działania

In [72]:
2+2

4

In [73]:
#int + float
2+3.5

5.5

In [74]:
2*7

14

In [75]:
8/6

1.3333333333333333

In [76]:
# potęgowanie
2**3

8

In [77]:
# NIE potęgowanie - ??
2^3

1

In [78]:
# reszta z dzielenia
8%6

2

# f stringi

In [79]:
print(f"{imie_nazwisko} ma {wiek} lata.")

Jan Kowalski ma 34.0 lata.

# Listy

In [80]:
ls = ["pomidor", "jabłko", "pieprz"]
ls

['pomidor', 'jabłko', 'pieprz']

In [81]:
#długośc listy
len(ls)

3

In [82]:
ls[0]

'pomidor'

In [83]:
ls[0:2]

['pomidor', 'jabłko']

In [84]:
ls[-1]

'pieprz'

In [85]:
ls.append('banan')

In [86]:
ls

['pomidor', 'jabłko', 'pieprz', 'banan']

In [87]:
ls.insert(0, 'cukinia')
print(ls)

['cukinia', 'pomidor', 'jabłko', 'pieprz', 'banan']

In [88]:
ls_2 =  ["chleb", "bułki"]

In [89]:
all_ls = ls + ls_2
all_ls

['cukinia', 'pomidor', 'jabłko', 'pieprz', 'banan', 'chleb', 'bułki']

In [90]:
all_ls.remove("pomidor")
print(all_ls)

['cukinia', 'jabłko', 'pieprz', 'banan', 'chleb', 'bułki']

In [91]:
del all_ls[1]
print(all_ls)

['cukinia', 'pieprz', 'banan', 'chleb', 'bułki']

In [92]:
products_that_I_have = all_ls.pop()
print(all_ls)

['cukinia', 'pieprz', 'banan', 'chleb']

In [93]:
print(products_that_I_have)

bułki

## Pętle po listach

In [94]:
for product in all_ls:
    print(product)

cukinia
pieprz
banan
chleb

## Listy zagnieżdżone

In [95]:
imiona_ls= ["robert","jan","ania"]
imiona_z_duzej_ls = [imie.upper() for imie in imiona_ls]
imiona_z_duzej_ls

['ROBERT', 'JAN', 'ANIA']

In [96]:
meskie_imina_z_duzej_ls = [imie for imie in imiona_z_duzej_ls if imie!="ANIA"]
meskie_imina_z_duzej_ls

['ROBERT', 'JAN']

In [97]:
not_end_with_a_ls = [imie for imie in imiona_z_duzej_ls if not imie.endswith("A")]
not_end_with_a_ls

['ROBERT', 'JAN']

## Jeszcze jeden rodzaj pętli

In [98]:
for value in range(5):
    print(value)

0
1
2
3
4

In [99]:
range(5)

range(0, 5)

In [100]:
for value in range(1,5,2):
    print(value)

1
3

In [101]:
#błąd
#for value in range(1,5,0.5):
 #   print(value)

In [102]:
for value in np.arange(1,5,0.5):
    print(value)

1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

In [103]:
squares = [value**2 for value in range(21)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Słowniki

In [104]:
carl_dict = {"color": "red", "max_speed": 250}
carl_dict

{'color': 'red', 'max_speed': 250}

In [105]:
carl_dict["color"]

'red'

In [106]:
carl_dict["type"] = "sport_car"

In [107]:
carl_dict

{'color': 'red', 'max_speed': 250, 'type': 'sport_car'}

In [108]:
del carl_dict["type"]
carl_dict

{'color': 'red', 'max_speed': 250}

In [109]:
# Słownik symulująccy liste
ls_dict = {0: "ROBERT", 1: "JAN"}
ls_dict

{0: 'ROBERT', 1: 'JAN'}

In [110]:
ls_dict[0]

'ROBERT'

## Pętle po słowniku

In [111]:
cars_dict = { "color": {"car1": "red", "car2": "blue"}}
cars_dict

{'color': {'car1': 'red', 'car2': 'blue'}}

In [112]:
carl_dict.items()

dict_items([('color', 'red'), ('max_speed', 250)])

In [113]:
for key, value in carl_dict.items():
    print(f"{key}: {value}")

color: red
max_speed: 250

In [114]:
for item in carl_dict:
    print(item)

color
max_speed

In [115]:
for item in carl_dict.keys():
    print(item)

color
max_speed

In [116]:
carl_dict.values()

dict_values(['red', 250])

In [117]:
for item in carl_dict.values():
    print(item)

red
250

## Łączenie słowników

In [118]:
kursy_walut = {"EURUSD": 1.123, "GBRUSD": 1.25}

In [119]:
kursy_walut | {"GBRUSD": 1.25}

{'EURUSD': 1.123, 'GBRUSD': 1.25}

In [120]:
# metoda get pozwala określić wartośc domyślną w przypadku braku klucza
kursy_walut.get("EURPLN", 0)

0

# Krotki

In [121]:

prac_kr = ("Jan", "Alicja", "Patrycja")
prac_kr

('Jan', 'Alicja', 'Patrycja')

In [122]:
prac_kr = "Jan", "Alicja", "Patrycja"
prac_kr

('Jan', 'Alicja', 'Patrycja')

In [123]:
type(prac_kr)

tuple

## Odwołanie do elementów krotki

In [124]:
prac_kr[1]

'Alicja'

## Zmiana elementów krotki

In [125]:
try:
    prac_kr[1] = "kot"
except:
    print("Nie można zmienić wartości krotki")

Nie można zmienić wartości krotki

## Wykorzystanie krotki do zdefiniowanie wielu zmiennych

In [126]:
prac1, prac2, prac3 = prac_kr
prac2

'Alicja'

## Łącznie krotek

In [127]:
prac_kr = prac_kr + ("Jakub",)
prac_kr

('Jan', 'Alicja', 'Patrycja', 'Jakub')

## Usuwanie elementu krotki - nie da się

## Metoda dla krotek

In [129]:
prac_kr.count("Jan")

1

## Zwracanie długość krotki

In [130]:
len(prac_kr)

4

# Zbiory

## Uzyskanie unikalnych wartośco  z listy listy

In [137]:
nonunique_ls = ["Adam", "Jan", "Tomek"]

In [138]:
starzy_pracownicy = nonunique_ls
starzy_pracownicy

['Adam', 'Jan', 'Tomek']

In [139]:
nowy_praownicy = ["Adam", "Kasia"]
nowy_praownicy

['Adam', 'Kasia']

In [141]:
starzy_pracownicy | nowy_praownicy

TypeError: unsupported operand type(s) for |: 'list' and 'list'

List comprehensions

In [142]:
wszyscy_pracownicy_ls = starzy_pracownicy+nowy_praownicy
wszyscy_pracownicy_ls

['Adam', 'Jan', 'Tomek', 'Adam', 'Kasia']

In [143]:
wyplata_tak = ["Adam"]

In [144]:
prac_do_wyp_ls = [prac for prac in wszyscy_pracownicy_ls if not prac in wyplata_tak]
prac_do_wyp_ls

['Jan', 'Tomek', 'Kasia']

# petle if

In [145]:
i=20
if i>5:
    print("i jest więkesze od 5")

i jest więkesze od 5

In [147]:
i=4
if i>5:
    print("i jest więkesze od 5")
else:
    print("i mniejsze od 5")

i mniejsze od 5

In [148]:
i=5
if i>5:
    print("i jest więkesze od 5")
elif i==5:
    print("i równe 5")
else:
    print("i mniejsze od 5")

i równe 5

# operator jednolnijkowy

In [150]:
i=4
print("i mniejsze od 5") if i<5 else print("nie jest")

i mniejsze od 5

In [151]:
nb_products = 5
balk_order= True if nb_products > 1 else False

In [152]:
balk_order

True

In [153]:
is_important = True

In [154]:
if is_important:
    print("to jest ważne")
else:
    print("nie istotne")

to jest ważne

In [156]:
values=[]
if values:
    print(f"podaj wartości listy: {values}.")
else:
    print("nie istotne")

nie istotne

In [157]:
values=[3, 4]
if values:
    print(f"podaj wartości listy: {values}.")
else:
    print("nie istotne")

podaj wartości lisy: [3, 4].

In [158]:
zmienna = None

In [159]:
if zmienna:
    print("hi")

In [160]:
if not zmienna:
    print("hi")

hi

In [161]:
if zmienna is not None:
    PRINT("HI")

# enumerate

In [164]:
for i, pracownik in enumerate(prac_do_wyp_ls):
    print(i, pracownik)

0 Jan
1 Tomek
2 Kasia

# zmianny w przepływie pętli

In [167]:
for i in range(15):
    if i==3:
        break
    else:
        print(i)

0
1
2

In [168]:
for i in range(15):
    if i==3:
        continue
    else:
        print(i)

0
1
2
4
5
6
7
8
9
10
11
12
13
14

# While

In [173]:
n=0
while n <= 2:
    print(n)
    n += 1

0
1
2

# Definicja funkcji

In [175]:
def witaj():
    print("hello")

In [176]:
witaj()

hello

In [178]:
def temp(degres, source = "fahrenhight"):
    if source.lower() == "fahrenhight":
        return degres
    elif source.lower() == "cel":
        return degres - 273.5
    else:
        return {"NIE WIEM"}

In [179]:
temp(45)

45

In [181]:
temp(56, "cel")

-217.5

In [182]:
temp(78, "klin")

{'NIE WIEM'}

In [183]:
def temp(degres, source = "fahrenhight"):
    if source.lower() == "fahrenhight":
        return degres, "'F"
    elif source.lower() == "cel":
        return degres - 273.5, "'C"
    else:
        return {"NIE WIEM"}

In [184]:
temp(56)

(56, "'F")